<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<p style="font-size: 20px; color: white; background-color: cornflowerblue; padding-left: 20px;">Thông báo đơn xin nghỉ phép</p>
<p  th:text="'Kính gửi: ' + ${reviewerName}"></p>

<table style="border-collapse: collapse; border: 1px black;">
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Người gửi đơn</td>
        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${employeeName}"></td>
    </tr>
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Người theo dõi</td>
        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${trackerName}"></td>
    </tr>
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Loại nghỉ phép</td>
        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${leaveCategory}"></td>
    </tr>
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Từ ngày</td>
        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${startDayConvert}"></td>
    </tr>
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Đến ngày</td>
        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${endDayConvert}"></td>
    </tr>
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Trạng thái</td>
        <td style="padding: 10px; border: 1px solid #ccc;">Chờ duyệt</td>
    </tr>
    <tr>
        <td style="padding: 10px; border: 1px solid #ccc;">Nội dung</td>
        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${description}"></td>
    </tr>
</table>
<p>Trân trọng!</p>

</body>
</html>